.dj-heading1 {
    text-align: center;
    margin-top: 50px;
}
.dj-banner img{
    margin-top: 30px;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    text-align: center;
    opacity: 0.5;
}
.dj-banner img:hover{
    opacity: 1;
    transform: translate(0px, -10px);
    transition: all 0.6s;
}
.dj-title {
    font-size: 30px;
    font-weight: bold;
    padding: 20px 90px;
    background-color: #e2e2e2 ;
    color: #5e5c5c;
    position: relative;
}
 .dj-tt{
    font-size: 30px;
    font-weight: 700;
 }
.dj-title::before {
    content: '';
    width: 50px; /* Adjust width as needed */
    height: 50px;
    background-color: #e2e2e2 ;
    position: absolute;
    border-radius: 0 0 0 10px;
    top: 35px; /* Corrected value */
    left: -15px; /* Adjust left position as needed */
    z-index: -1;
}
.dj-title::after {
    content: '';
    width: 50px; /* Adjust width as needed */
    height: 50px;
    background-color: #e2e2e2 ;
    border-radius: 0 10px 0 0;
    position: absolute;
    top: -15px; /* Corrected value */
    left: 415px; /* Adjust left position as needed */
    z-index: -1;
}


.dj
{   
    display: flex;
    justify-content: center;
    align-items: center;
}
.dj-heading{
    filter: drop-shadow(2px 2px 5px rgba(0, 126, 25, 0.5));
    color:#323232;
}
.dj-image
{
    width: 300px;
    height: 300px;
}
.dj-text
{
    text-align: center;
    width: 100%;
}
.dj-cost-font
{
    font-size: 25px !important;
    margin-bottom: 20px;
    font-weight: 800;
}
.dj-button
{
    width: 40%;
    height: 40px;
    padding: 7px;
    background-color: rgb(215, 215, 234);
    color: rgb(5, 5, 5);
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}
.dj-text{
    align-items: center;
}
.dj-button {
    padding:10px 10px;
    background: linear-gradient(to right, rgb(5, 5, 5) 0%, rgb(5, 5, 5) 50%, transparent 50%, transparent 100%);
    background-size: 200% 100%;
    background-position: right;
    color: black;
    border: none;
    border-radius: 20px;
    background-color: #e4e1e1;
    cursor: pointer;
    transition: background-position 0.9s ease;
}
.dj-button:hover {
    background-color: #888;
    color: white;
    background-position: left;
}
.dj-detail-p
{
    padding: 10px;
    font-size: 20px;
}

@media(max-width:900px)
{
    .dec{
        flex-direction: column;
    }
}













