.containerr {
    background: #f9f9f9;
}

.flex-column {
    max-width: 260px;
}

img {
    margin: 5px;
}

.scale {
    transform: scaleY(1.05);
    padding-top: 5px; 
}
.gallery_head
{
    text-align: center;
    margin: 40px;
    font-size: 35px;
    padding: 10px;
    font-weight: 800;
    opacity: 0.7;
    background-color: #c4c3c3;
    border-radius:20px ;
}
.btn-secondary
{   
    margin: 50px 0 0 50px;
    width: 70px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    height: 40px;
}
.gallery_image 
{
    object-fit: fill;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 300px;
    height: 300px;
    margin: 20px;
}

.gallery_image:hover
{
    transform: scale(1.1);
    transition: transform 0.4s;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}