:root{
    --mainColor:#142506;
    --whiteCOlor:#ffffff;
    --titleColor:#271717;
    --labelColor:#3a1e1e;
}
input[type="text"],input[type="password"],::placeholder{
    font-size: 1.6rem;
    padding: 1rem;
    color: black;
    width: 100%;
}
html{
    font-size: 62.5%;
}  

.main_content
{
    background-image: url(../assets/green.jpeg);
    background-repeat:no-repeat;
    background-size:cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper
{
    position: relative;
    width: 35rem;
    height: 50rem;
}
@media(min-width:540px){
    .wrapper{
        width: 40rem;
    }
}

.wrapper .form-container{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--whiteCOlor);
    border-radius: .5rem;
    box-shadow: 0 0 1rem 0 rgba(0 0 0 .2);
}
.wrapper .form-container .form h2{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    color: var(--titleColor);
}
.wrapper .form-container .form .form-group{
    position: relative;
    width: 32rem;
    margin: 3rem 0;
}
.wrapper .form-container .form .form-group i{
    position: absolute;
    top: 20%;
    left: 0;
    transform: translateY(-50);
    font-size: 1.6rem;
    text-transform: capitalize;
    color: var(--labelColor);
    padding: 0 .5rem;
    pointer-events: none;
    transition: all .5s ease;
}
.wrapper .form-container .form .form-group i{
    left: 0.5rem;
}

.wrapper .form-container .form .form-group input{
    width: 100%;
    height: 4rem;
    border: 1px solid var(--labelColor);
    border-radius: .5rem;
    padding: 0 3rem;
    font-size: 1.6rem;
    outline: none;
    transition: all .5s ease;
    background: transparent;
}
.wrapper .form-container .form .forgot-pass{
    margin: -1.5rem 0 1.5rem;
}
.wrapper .form-container .form .forgot-pass a{
    font-size: 1.4rem;
    color: var(--labelColor);
    text-decoration: none;
    transition: all .5s ease;
}
.wrapper .form-container .form .forgot-pass a:hover{
    color: var(--mainColor);
}
.wrapper .form-container .form .btn
{
    background: linear-gradient(to right,#191a19, var(--mainColor));
    color: var(--whiteCOlor);
    text-transform: capitalize;
    width: 100%;
    height: 4rem;
    font-size: 1.6rem;
    font-weight: 500;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    box-shadow: 0 .2rem 1rem  rgba(0 0 0 .4);
}
.wrapper .form-container .form .link{
    text-align: center;
    font-size: 1.4rem;
    color: var(--labelColor);
    margin: 2.5rem 0;
}
.wrapper .form-container .form .link a{
    color: var(--mainColor);
    text-decoration: none;
    transition: all .5s ease;
}
.wrapper .form-container .form .link a:hover{
    color: #da4453;
}
.wrapper .sign-in
{
    transform: rotate(7deg);
}

.wrapper.animated-signin .form-container.sign-in {
    animation: signin-flip 1s ease-in-out forwards;
}

@keyframes signin-flip {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-50rem) scale(1.1);
    }

    100% {
        transform: translateX(0) rotate(7deg) scale(1);
    }
}

.wrapper.animated-signin .form-container.sign-up {
    animation: rotatecard .7s ease-in-out forwards;
}

@keyframes rotatecard {
    0% {
        transform: rotate(7deg);
    }

    100% {
        transform: rotate(0);
        z-index: 1;
    }
}

.wrapper.animated-signup .form-container.sign-up {
    animation: signup-flip 1s ease-in-out forwards;
}

@keyframes signup-flip {
    0% {
        transform: translateX(0);
        z-index: 1;
    }

    50% {
        transform: translateX(50rem) scale(1.1);
    }

    100% {
        transform: translateX(0) rotate(7deg) scale(1);
    }
}

.wrapper.wrapper.animated-signup .form-container.sign-in {
    transform: rotate(7deg);
    animation: rotatecard .7s ease-in-out forwards;
    animation-delay: .3s;
}

@keyframes rotatecard {
    0% {
        transform: rotate(7deg);
    }

    100% {
        transform: rotate(0);
        z-index: 1;
    }
}

.wrapper .form-container{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}